* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.nav {
    background-color: #3C3A39;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 15px;
}

.two {
    color: #ACB7C3;
    font-size: 24px;
}
h2 {
    color:#FF6B00
}

.container {
   padding-left: 15px;
   background-color: #1C1A19;
   color:#FFFFFF;

}

.list {
    display: flex;
    list-style: none;
    gap: 10px;
    
}

