* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

.header {
  background-color: #3c3a39;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 15px;
}

.header a {
  text-decoration: none;
}

.two {
  color: #acb7c3;
  font-size: 24px;
}

.logo {
  color: #fff;
}

.name {
  color: #ff6b00;
  padding-top: 120px;
  font-size: 56px;
  line-height: 64px;
  font-family: "Crete Round", sans-serif;
  margin-bottom: 12px;
}

h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

.container {
  display: flex;
  background-color: #1c1a19;
  color: #fff;
  height: 600px;
  padding-left: 24px;
  background-image: url(./Group.png);
  background-repeat: no-repeat;
  background-position: 240px 328px;
  flex-direction: column;
  justify-content: flex-start;
}

.list {
  display: flex;
  list-style: none;
  gap: 10px;
}
.list-2 {
  display: flex;
  list-style: none;
  gap: 10px;
  colorf: #505f79;
}

p {
  width: 327px;
  height: 123px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 400;
  font-family: sans-serif;
}

.list li i {
  color: #dbd8d7;
  margin-top: 24px;
  font-size: 24px;
}

.work {
  font-size: 40px;
  color: #1c1a19;
  text-align: center;
  margin-top: 120px;
}

.text {
  color: #091e42;
  font-size: 16px;
  line-height: 24px;
}

.head {
  margin-top: 24px;
  margin-bottom: 12px;
}

hr {
  width: 327px;
  color: #212121;
  margin: 24px 0 80px 4px;
  text-align: center;
}

.temp2 {
  background-image: url(./photos/temp2.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
}

.size {
  height: 386px;
  width: 327px;
  align-self: center;
}

.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tech {
  display: flex;
  padding-top: 22px;
  gap: 15px;
}

.tech li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
}

.btn {
  padding: 12px;
  color: #fff;
  background-color: #ff6b00;
  border: none;
  font-size: 17px;
  width: 124px;
  margin: 22px 0;
}

.btn-2 {
  width: 100%;
}

.text-2 {
  color: #fff;
  height: 89px;
  width: 288px;
  margin-bottom: 12px;
}

.cards {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 50px;
}

.pad {
  padding-left: 15px;
}

.card-heading {
  margin-top: 84px;
  margin-bottom: 12px;
  color: #fff;
  text-align: left;
}

.tech-2 {
  padding-top: 0;
  color: #fff;
}

.tech-2 li {
  background: rgba(255, 255, 255, 0.24);
}

.about {
  color: #ff6b00;
  padding-top: 120px;
  font-size: 56px;
  line-height: 64px;
  font-family: "Crete Round", sans-serif;
}

.container-2 {
  display: flex;
  background-color: #1c1a19;
  margin-top: 120px;
  height: 600px;
  padding-left: 24px;
  background-image: url(./photos/Group1.png);
  background-repeat: no-repeat;
  background-position: 240px 328px;
  flex-direction: column;
  justify-content: flex-start;
}

.btn-res {
  width: 161px;
}

.text-res {
  color: #fff;
}

.about-section {
  background-color: #1c1a19;
  color: #fff;
}

.about-section ul li {
  margin-bottom: 32px;
  font-size: 22px;
  padding-left: 38px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 86px;
}

.about-section .main {
  font-size: 32px;
  padding-left: 0;
}

.hr {
  margin-left: 40px;
  width: 315px;
}

.prg {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  position: static;
  width: 327px;
  height: 216px;
  position: static;
  width: 327px;
  height: 216px;
  color: #172b4d;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 80px;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 52px;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 4px;
}

form input,
textarea {
  width: 327px;
  border: none;
  border-radius: 4px;
  background: #fff;
  color: #979493;
  padding: 12px;
}

input {
  height: 18px;
  margin-bottom: -20px;
}

.tonic button {
  background-color: #ff6b00;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  width: 124px;
  padding: 12px 16px;
}

.tonic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tonic button:active {
  background-color: #fff;
  color: #ff6b00;
}

.tonic button:hover {
  opacity: 0.7;
}

.msg {
  padding-top: 10px;
  margin-right: 24px;
  width: 327px;
}
.get-in {
  padding: 12px;
  color: #fff;
  background-color: #ff6b00;
  border: none;
  font-size: 17px;
  width: 124px;
  display: flex;
  letter-spacing: 0.03em;
  margin-left: 111px;
}
